@model QuizGames.AspNetCore.ViewModels.GameModeViewModel

@{
    ViewData["Title"] = "Camelrace";
}
<head>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
</head>
<body>
    <div class="gamewrapper">
        <div class="Navbar">
            <a href="@Url.Action("Menu", "Menu")" class="homebutton">
                <img src="~/images/homebutton.png" alt="homebutton" class="homebutton">
            </a>
            <img src="~/images/infolandLoGo.png" alt="infoland logo" class="infologo">
            <img src="~/images/img_avatar.png" alt="headshot gebruiker" class="userhs">
        </div>

        <div class="camelrace">
            <div class="camelracepoints" id="crp1">0</div>
            <div class="camelracebar" id="Camelbar1"><img id="img1" src=https://www.w3schools.com/howto/img_avatar.png alt="Avatar"></div>
            <div class="camelracepoints" id="crp2">0</div>
            <div class="camelracebar" id="Camelbar2"><img id="img2" src=https://www.w3schools.com/howto/img_avatar2.png alt="Avatar"></div>
            <div class="camelracepoints" id="crp3">0</div>
            <div class="camelracebar" id="Camelbar3"><img id="img3" src=https://www.w3schools.com/howto/img_avatar2.png alt="Avatar"></div>
            <div class="camelracepoints" id="crp4">0</div>
            <div class="camelracebar" id="Camelbar4"><img id="img4" src=https://www.w3schools.com/howto/img_avatar2.png alt="Avatar"></div>
        </div>


         <!--
            <div class="questioncontainer">
                <div>
                    <h3>
                        Vraag:<br />
                        @Model.questions[0].question;
                    </h3>
                </div>

                <div>
                    <div id="Answer_Form">
                        <form action="#" onsubmit="yourJsFunction();return false">
                            <input type="radio" id="RB1" name="Answer" value=@Model.questions[0].awnsers[0] checked />@Model.questions[0].awnsers[0].text<br />
                            <input type="radio" id="RB2" name="Answer" value=@Model.questions[0].awnsers[1] />@Model.questions[0].awnsers[1].text<br />
                            <input type="radio" id="RB3" name="Answer" value=@Model.questions[0].awnsers[2] />@Model.questions[0].awnsers[2].text<br />
                            <input type="radio" id="RB4" name="Answer" value=@Model.questions[0].awnsers[3] />@Model.questions[0].awnsers[3].text<br /><br />
                            <input type="submit" name="submit" class="button" id="submit_btn" value="Send" />

                        </form>
                    </div>
                </div>
            </div>


            <br>
            <br>
            <br>
        -->
        

        <div class="questioncontainer">
            <div>
                <h3>
                    Vraag:<br/>
                    @Model.questions[0].question;
                </h3>
            </div>
            <div>
                @using (Html.BeginForm("Giveanswer", "Gamemode", FormMethod.Post))
    {

            @Html.RadioButtonFor(m => m.ChosenAnwser, Model.questions[0].awnsers[0].text, new { id = "RB1" })
            @Html.LabelFor(m => m.questions[0].awnsers[0], Model.questions[0].awnsers[0].text, new { name = "Answer" })<br />

            @Html.RadioButtonFor(m => m.ChosenAnwser, Model.questions[0].awnsers[1].text, new { id = "RB2" })
            @Html.LabelFor(m => m.questions[0].awnsers[1], Model.questions[0].awnsers[1].text, new { name = "Answer" })<br />

            @Html.RadioButtonFor(m => m.ChosenAnwser, Model.questions[0].awnsers[2].text, new { id = "RB3" })
            @Html.LabelFor(m => m.questions[0].awnsers[2], Model.questions[0].awnsers[2].text, new { name = "Answer" })<br />

            @Html.RadioButtonFor(m => m.ChosenAnwser, Model.questions[0].awnsers[3].text, new { id = "RB4" })
            @Html.LabelFor(m => m.questions[0].awnsers[3], Model.questions[0].awnsers[3].text, new { name = "Answer" })<br />
            <br />


            <input type="submit" value="Antwoorden" />
            <input type="button" value=@Model.questions[0].awnsers[0].text />
            <input type="button" value=@Model.questions[0].awnsers[1].text />
            <input type="button" value=@Model.questions[0].awnsers[2].text />
            <input type="button" value=@Model.questions[0].awnsers[3].text />
}
                @if (Model.ChosenAnwser != null)
    {
        if (Model.ChosenAnwser == Model.questions[0].correctAnswer)
        {
            <h2>Dat is: <b>Goed</b></h2>
            <script type="text/javascript">
                move(Camelbar1, img1);
            </script>
}
if (Model.ChosenAnwser != Model.questions[0].correctAnswer)
{
            <h2>Dat is: <b>Fout</b></h2>
Random rand = new Random();
int rnd = rand.Next(1, 4);
if (rnd == 1)
{
            <script type="text/javascript">move(Camelbar2, img2);</script>}
if (rnd == 2)
{
            <script type="text/javascript">move(Camelbar3, img3);</script>}
if (rnd == 3)
{
            <script type="text/javascript">move(Camelbar4, img4);</script>}
}
}
            </div>
        </div>

        @*<script>
            function move() {
                var elem = document.getElementById("Camelbar1");
                var width = 5;
                var id = setInterval(frame, 10);
                function frame() {
                    if (width >= 100) {
                        clearInterval(id);
                    } else {
                        width++;
                        elem.style.width = width + '%';
                        elem.innerHTML = width * 1 + '%';
                    }
                }
            }
        </script>*@
    </div>
</body>
