@model QuizGames.AspNetCore.ViewModels.GameModeViewModel


@{
    ViewData["Title"] = "Camelrace";
}
<head>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

</head>
<body onload="start()">
    <div class="gamewrapper">
        <div class="Navbar">
            <a href="@Url.Action("Menu", "Menu")" class="homebutton">
                <img src="~/images/homebutton.png" alt="homebutton" class="homebutton">
            </a>
            <img src="~/images/infolandLoGo.png" alt="infoland logo" class="infologo">
            <img src="~/images/img_avatar.png" alt="headshot gebruiker" class="userhs">
        </div>
        
        <div class="camelrace">
            <div class="camelracepoints" id="crp1">0</div>
            
            <div class="camelracebar" id="Camelbar1"><img id="img1" src=https://www.w3schools.com/howto/img_avatar.png alt="Avatar"></div>
            <div class="camelracepoints" id="crp2">0</div>
            <div class="camelracebar" id="Camelbar2"><img id="img2" src=https://www.w3schools.com/howto/img_avatar2.png alt="Avatar"></div>
            <div class="camelracepoints" id="crp3">0</div>
            <div class="camelracebar" id="Camelbar3"><img id="img3" src=https://www.w3schools.com/howto/img_avatar2.png alt="Avatar"></div>
            <div class="camelracepoints" id="crp4">0</div>
            <div class="camelracebar" id="Camelbar4"><img id="img4" src=https://www.w3schools.com/howto/img_avatar2.png alt="Avatar"></div>
        </div>

        <!--
        <div class="questioncontainer">
            <div>
                <h3>
                    Vraag:<br />
                    @Model.questions[0].QuestionString;
                </h3>
            </div>

            <div>
                <div id="Answer_Form">
                    <form action="#" onsubmit="yourJsFunction();return false">
                        <input type="radio" id="RB1" name="Answer" value=@Model.questions[0].Awnsers[0] checked />@Model.questions[0].Awnsers[0].Text<br />
                        <input type="radio" id="RB2" name="Answer" value=@Model.questions[0].Awnsers[1] />@Model.questions[0].Awnsers[1].Text<br />
                        <input type="radio" id="RB3" name="Answer" value=@Model.questions[0].Awnsers[2] />@Model.questions[0].Awnsers[2].Text<br />
                        <input type="radio" id="RB4" name="Answer" value=@Model.questions[0].Awnsers[3] />@Model.questions[0].Awnsers[3].Text<br /><br />
                        <input type="submit" name="submit" class="button" id="submit_btn" value="Send" />

                    </form>
                </div>
            </div>
        </div>


        <br>
        <br>
        <br>
    -->

        <div class="questioncontainer">
            <div class="cquestion">
                <h2 id="questionlbl">Vraag:</h2>
                <p id="qlbl"></p>


            </div>

            <button class="answer" id="canswer1" onclick="questionAsnsered(this.innerHTML)"></button>
            <button class="answer" id="canswer2" onclick="questionAsnsered(this.innerHTML)"></button>
            <button class="answer" id="canswer3" onclick="questionAsnsered(this.innerHTML)"></button>
            <button class="answer" id="canswer4" onclick="questionAsnsered(this.innerHTML)"></button>

        </div>
        </div>
</body>
