@model QuizGames.AspNetCore.ViewModels.GameModeViewModel

@{
    ViewData["Title"] = "Camelrace";
}
<body>
    <div>
        <h2>Camel Race</h2>
    </div>
    <div>
        <h3>
            Vraag:<br />
            @Model.Question
        </h3>
    </div>

    <div>

        @using (Html.BeginForm("Giveanswer", "Gamemode", FormMethod.Post))
    {

        @Html.RadioButtonFor(m => m.ChosenAnwser, Model.Anwser1)
        @Html.LabelFor(m => m.Anwser1, Model.Anwser1)<br />

        @Html.RadioButtonFor(m => m.ChosenAnwser, Model.Anwser2)
        @Html.LabelFor(m => m.Anwser2, Model.Anwser2)<br />

        @Html.RadioButtonFor(m => m.ChosenAnwser, Model.Anwser3)
        @Html.LabelFor(m => m.Anwser3, Model.Anwser3)<br />

        @Html.RadioButtonFor(m => m.ChosenAnwser, Model.Anwser4)
        @Html.LabelFor(m => m.Anwser4, Model.Anwser4)<br />
        <br />

        <input type="submit" value="Antwoorden" />

}

    </div>

</body>
