@model QuizGames.AspNetCore.ViewModels.GameModeViewModel

@{
    ViewData["Title"] = "Camelrace";
}
<body>
    <div>
        <h2>Camel Race</h2>
    </div>
    <div>
        <h3>
            Vraag:<br />
            @Model.Question
        </h3>
    </div>

    <div>

        @using (Html.BeginForm("Giveanswer", "Gamemode", FormMethod.Post))
    {

        @Html.RadioButtonFor(m => m.ChosenAnwser, Model.RandomAnswers[0])
        @Html.LabelFor(m => m.RandomAnswers[0], Model.RandomAnswers[0])<br />

        @Html.RadioButtonFor(m => m.ChosenAnwser, Model.RandomAnswers[1])
        @Html.LabelFor(m => m.RandomAnswers[1], Model.RandomAnswers[1])<br />

        @Html.RadioButtonFor(m => m.ChosenAnwser, Model.RandomAnswers[2])
        @Html.LabelFor(m => m.RandomAnswers[2], Model.RandomAnswers[2])<br />

        @Html.RadioButtonFor(m => m.ChosenAnwser, Model.RandomAnswers[3])
        @Html.LabelFor(m => m.RandomAnswers[3], Model.RandomAnswers[3])<br />
        <br />

        <input type="submit" value="Antwoorden" />

}

    </div>

</body>
