@model QuizGames.AspNetCore.ViewModels.GameModeViewModel

@{
    ViewData["Title"] = "Camelrace";
}
<head>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
</head>
<body>
    <div class="gamewrapper">
        <div class="Navbar">
            <a href="@Url.Action("Menu", "Menu")" class="homebutton">
                <img src="~/images/homebutton.png" alt="homebutton" class="homebutton">
            </a>
            <img src="~/images/infolandLoGo.png" alt="infoland logo" class="infologo">
            <img src="~/images/img_avatar.png" alt="headshot gebruiker" class="userhs">
        </div>

        <div class="camelrace">

            <div id="Camelbar1" style="width:5%">0</div>
            <img id="img1" src=https://www.w3schools.com/howto/img_avatar.png alt="Avatar">


            <div id="Camelbar2"></div>
            <img id="img2" src=https://www.w3schools.com/howto/img_avatar2.png alt="Avatar">


            <div id="Camelbar3"></div>
            <img id="img3" src=https://www.w3schools.com/howto/img_avatar2.png alt="Avatar">


            <div id="Camelbar4"></div>
            <img id="img4" src=https://www.w3schools.com/howto/img_avatar2.png alt="Avatar">

        </div>

        <div class="questioncontainer">
            <div>
                <h3>
                    Vraag:<br />
                    @Model.questions[0].question;
                </h3>
            </div>

            <div>
                <div id="Answer_Form">
                    <form action="#" onsubmit="yourJsFunction();return false">
                        <input type="radio" id="RB1" name="Answer" value=@Model.questions[0].awnsers[0] checked />@Model.questions[0].awnsers[0].text<br />
                        <input type="radio" id="RB2" name="Answer" value=@Model.questions[0].awnsers[1] />@Model.questions[0].awnsers[1].text<br />
                        <input type="radio" id="RB3" name="Answer" value=@Model.questions[0].awnsers[2] />@Model.questions[0].awnsers[2].text<br />
                        <input type="radio" id="RB4" name="Answer" value=@Model.questions[0].awnsers[3] />@Model.questions[0].awnsers[3].text<br /><br />
                        <input type="submit" name="submit" class="button" id="submit_btn" value="Send" />

                    </form>
                </div>
            </div>
        </div>


        <br>
        <br>
        <br>
        <div>



            @*@using (Html.BeginForm("Giveanswer", "Gamemode", FormMethod.Post))
            {

            @Html.RadioButtonFor(m => m.ChosenAnwser, Model.RandomAnswers[0])
            @Html.LabelFor(m => m.RandomAnswers[0], Model.RandomAnswers[0])<br />

            @Html.RadioButtonFor(m => m.ChosenAnwser, Model.RandomAnswers[1])
            @Html.LabelFor(m => m.RandomAnswers[1], Model.RandomAnswers[1])<br />

            @Html.RadioButtonFor(m => m.ChosenAnwser, Model.RandomAnswers[2])
            @Html.LabelFor(m => m.RandomAnswers[2], Model.RandomAnswers[2])<br />

            @Html.RadioButtonFor(m => m.ChosenAnwser, Model.RandomAnswers[3])
            @Html.LabelFor(m => m.RandomAnswers[3], Model.RandomAnswers[3])<br />
            <br />

            <input type="submit" value="Antwoorden" />

            }
            *@
            @if (Model.ChosenAnwser != null)
        {
            @if (Model.ChosenAnwser.correct == true)
        {
            <h2>Dat is: <b>Goed</b></h2>
    }
            @if (Model.ChosenAnwser.correct == false)
        {
            <h2>Dat is: <b>Fout</b></h2>
    }
    }
        </div>

        <script>

            $(function () {
                $(".button").click(function () {
                    // validate and process form here
                });
            });

        </script>

        <script>
            function move() {
                var elem = document.getElementById("Camelbar1");
                var width = 5;
                var id = setInterval(frame, 10);
                function frame() {
                    if (width >= 100) {
                        clearInterval(id);
                    } else {
                        width++;
                        elem.style.width = width + '%';
                        elem.innerHTML = width * 1 + '%';
                    }
                }
            }
        </script>

</body>
