@model QuizGames.AspNetCore.ViewModels.GameModeViewModel

@{
    ViewData["Title"] = "Camelrace";
}
<head>
<h2>Camel Race</h2>
</head>

<body>
    <div>
        <h3>
             Vraag:<br />
             @Model.Question
        </h3>
     </div>
    
    <div>
        <form action="">
            <input type="radio" id="A1" name="answer" value=@Model.Anwser1 checked> @Model.Anwser1<br>
            <input type="radio" id="A2" name="answer" value=@Model.Anwser2> @Model.Anwser2<br>
            <input type="radio" id="A3" name="answer" value=@Model.Anwser3> @Model.Anwser3<br>
            <input type="radio" id="A4" name="answer" value=@Model.Anwser4> @Model.Anwser4
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

</body>