@model LoginModel
@{
    ViewData["Title"] = "Home Page";
}

<script>
    $(document).ready(function () {
        $("#stunButton").click(function () {
            $.ajax(
                {
                    method: "POST",
                    url: "https://quiz.iqualify.nl/api/authenticate",   
                    beforeSend: function (request) {
                        request.setRequestHeader("x-api-version", "1");
                        request.setRequestHeader("Accept", "application/json");
                        request.setRequestHeader("Access-Control-Allow-Methods", "*");
                    },
                    contentType: "application/json",
                    dataType: "application/json",
                    data: JSON.stringify(
                        {
                            "username": $("#tbUsername").val(),
                            "password": $("#tbPassword").val(),
                            "email": $("#tbEmail").val()
                        }
                    ),
                    success: function (result) {
                        alert(text(result));
                    }
                }
            );
        });
    });
</script>
<br />
<div id="loginSection" style="margin: 10px 20px; text-align: center">
    <div id="inputLabels" style="display: inline-block; margin-right: 15px; text-align: left;">
        @Html.Label("Username: ")<br />
        @Html.Label("Email: ")<br />
        @Html.Label("Password: ")<br />
    </div>
    <div  id="inputFields" style="display: inline-block; margin-left: 15px; text-align: left;">
        @Html.TextBoxFor(m => m.Username, new { id = "tbUsername" })<br />
        @Html.TextBoxFor(m => m.Email, new { id = "tbEmail" })<br />
        @Html.PasswordFor(m => m.Password, new { id = "tbPassword" })<br />
    </div>
    <div id="loginButton" style="margin-top: 15px; width: auto;">
        <input id="stunButton" type="button" value="Log in!" />
    </div>
</div>
<br />

<div id="resultSection" style="margin: 10px 20px;">
    
</div>
<br />
<br />